.header {
	background: #014040;
	color: #ffffff;
	display: flex;
	height: 12vh;
	min-height: 12vh;
	padding: 0px 8%;
}

.header img {
	height: auto;
	width: auto;
}

.header h1 {
	line-height: 12vh;
}
